body{
    background-color: rgb(27, 153, 132);
}
div{
    background-color: #ccc;
    text-align: center;
    height:400px;
    width: 300px;
    border-radius: 5%;
    box-shadow: 100%;
    margin-left: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    width: 100%;
    border: 2px solid black;
}
h2{
    text-decoration: underline;
}